*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-bg {
    background-image: url(../images/bg3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.order {
    width: 90%;
}

.text-center {
    text-align: center;
}

.clearfix {
    float: none;
    clear: both;
}

.tb1-full {
    width: 100%;
    border-collapse: collapse;
}

.tbl-30 {
    width: 30%;
}

table tr th {
    border: 1px solid black;
    padding: 1%;
    text-align: left;
    overflow: hidden;
}
.width {
    width: 5%;
}
.address {
    width: 20%;
}
.date-width {
    width: 9%;
}

.textarea {
    border:none;
    padding: 3%;
    box-shadow: 3px 3px 10px lightgray;
    border-radius: 5px;
}

.btn-primary {
    background-color: green ;
    padding: 3%;
    text-decoration: none;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: rgb(0, 165, 0);
}

.btn-primary1 {
    text-decoration: none;
    background-color: green;
    padding: 1%;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.btn-primary1:hover {
    background-color: rgb(0, 165, 0);
}

.add-admin {
    padding: 2%;
}


.btn-primary2 {
    text-decoration: none;
    padding: 1%;
    background-color: yellowgreen;
    color: black;
    border: none;
    border-radius: 3px;
    font-weight: 500;
}

.btn-primary2:hover {
    background-color: rgb(132, 182, 34);
}

.btn-primary3 {
    text-decoration: none;
    padding: 1%;
    background-color: rgb(0, 204, 255);
    color: black;
    border: none;
    border-radius: 3px;
    font-weight: 500;
}

.btn-primary3:hover {
    background-color: rgb(16, 183, 224);
}

.btn-primary4 {
    text-decoration: none;
    padding: 1%;
    background-color: rgb(255, 137, 137);
    color: black;
    border: none;
    border-radius: 3px;
    font-weight: 500;
}

.btn-primary4:hover {
    background-color: rgb(253, 100, 100);
}

.b {
    padding: 3%;
}



.success {
    color: green;
}

.error {
    color: red;
}


table tr td {
    padding: 1%;
    border: 1px solid darkgray;
    overflow: hidden;
}

.menu {
    border-bottom: 1px solid grey;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: green;
}

.menu ul li a:hover {
    color: rgb(0, 180, 0);
}

.main-content {
    background-color: rgb(231, 231, 231);
    padding: 3% 0;
}

.col-4 {
    width: 18%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px darkgray;
    margin: 1%;
    padding: 2%;
    float: left;
}

.footer {
    background-color: rgb(8, 194, 8);
    font-weight: 600;
}

.login {
    width: 20%;
    background-color: white;
    border: 4px solid green;
    border-radius: 10px;
    margin: 10% auto;
    padding: 2%;
    
}

